<nav class="navbar navbar-expand-lg navbar-light bg-light">
  <a class="navbar-brand" href="#">Navbar</a>
  <div class="collapse navbar-collapse" id="navbarSupportedContent">
    <ul class="navbar-nav mr-auto">
      <li class="nav-item active">
        <a class="nav-link" href="/page"
          >Beranda <span class="sr-only">(current)</span></a
        >
      </li>
      <li class="nav-item">
        <a class="nav-link" href="/page/about">About</a>
      </li>
      <li class="nav-item">
        <a class="nav-link" href="/page/articles">Articles</a>
      </li>
    </ul>
  </div>
</nav>
