<!DOCTYPE html>
<html>
  <%- include('partials/head'); %>
  <body>
    <%- include('partials/navbar'); %>
    <div class="container mb-2">
      <table class="table">
        <thead>
          <tr>
            <th>id</th>
            <th>title</th>
            <th>body</th>
          </tr>
        </thead>
        <tbody>
          <% articles.forEach(i => { %>
          <tr>
            <td><%= i.id %></td>
            <td><%= i.title %></td>
            <td><%= i.body %></td>
          </tr>
          <% }) %>
        </tbody>
      </table>
    </div>
  </body>
</html>
